# Thư mục build (Quan trọng nhất)
[Bb]in/
[Oo]bj/

# Cấu hình Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# File cấu hình chứa mật khẩu/connection string cá nhân
appsettings.Development.json
appsettings.json
